@model IEnumerable<AddDonorModel>

@{
    ViewData["Title"] = "DonorsView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (TempData["SuccessMessage1"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["SuccessMessage1"]
    </div>
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: white; /* Choose your desired background color */
        }

        .box {
            width: calc(33.33% - 10px);
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .box-two {
            width: calc(50% - 10px);
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .bd-color {
            background-color: antiquewhite;
        }

        .approve-btn {
            padding-left: 50px;
            padding-right: 40px;
            /* Adjust as needed */
        }

        .reject-btn {
            padding-left: 50px;
            padding-right: 50px;
        }

        .space {
            font-size: 42px;
            line-height: 42px;
            margin-bottom: 20px;
            font-weight: 700;
            color: #555555;
            letter-spacing: 0.20rem;
        }

    </style>
</head>
<body>

    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-6 mb-4">
                <h2 class="text-center space">DONORS DETAILS</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Donors ID</th>
                    <th>Full Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Blood Type</th>
                    <th>Contact Number</th>
                    <th>Email Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>LastDonationDate</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var donor in Model)
                {
                    <tr>
                        <td>@donor.DonorId</td>
                        <td>@donor.FullName</td>
                        <td>@donor.Age</td>
                        <td>@donor.Gender</td>
                        <td>@donor.BloodType</td>
                        <td>@donor.ContactNumber</td>
                        <td>@donor.Email</td>
                        <td>@donor.City</td>
                        <td>@donor.State</td>
                        <td>@donor.LastDonationDate</td>
                        <td role="group">
                            <div class="mb-2">
                                <div class="col-md-12 mb-2">
                                    <a href="@Url.Action("EditDonors", "AddDonor", new { id = donor.DonorId })" class="btn btn-primary btn-sm w-100">Edit</a>
                                </div>
                                <div class="col-md-12">
                                    <form method="post" action="@Url.Action("DonorDelete", "AddDonor", new { id = donor.DonorId })">
                                        <button type="submit" class="btn btn-danger btn-sm w-100">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
